@import '../../styles/index.scss';

.App {
    @include borders(white, #999);
    background-color: #c2c2c2;
    padding: 16px;
}

.Header {
    @include borders(#7b7b7b, white);
    background-color: #c0c0c0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Body {
    @include borders(#7b7b7b, white);
    margin-top: 16px;
}

.face {
    @include borders(white, #999);
    @include buttons;
    width: 50px;
    height: 45px;
    font-size: 25px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
